.users-new-wrap
  .container
    .main-column
      .title-wrap
        無料会員登録
      .form-wrap
        = form_for @user do |f|
          = render 'shared/error_messages'
          = f.text_field :name, placeholder: "ユーザー名", class: 'user-name-text-field'
          = f.text_field :email, placeholder: "メールアドレス", class: 'email-text-field'
          = f.password_field :password, placeholder: "パスワード", class: 'password-field'
          = f.password_field :password_confirmation, placeholder: "パスワード (再入力)", class: 'password-confirmation-field'
          = f.submit "無料会員登録", class: 'submit-button'
        %p
          既に登録済みの方は
        .link-button
          = link_to "ログイン", signin_path
