.cosmetics-index-wrap
  .search-form-wrap
    .container
      .search-form
        = search_form_for @search do |f|
          = f.text_field :name_or_brand_name_cont, placeholder: "商品・ブランド名を入力", class: 'search-field'
          = f.submit "検索", class: 'search-submit'

  .container
    - if @cosmetics.present?
      .cosmetics-list-wrap
        %ul
          - @cosmetics.each do |cosmetic|
            %li.cosmetic-list-item
              = link_to cosmetic_path(id: cosmetic.id) do
                .cosmetic-name
                  = cosmetic.name
                .cosmetic-brand
                  = cosmetic.brand.name

    - else
      - if params[:q].present? && params[:q][:name_or_brand_name_cont].present?
        .no-cosmetics-wrap
          お探しの商品はありません
      - else
        .no-cosmetics-wrap
          検索ワードを入力して下さい
