.cosmetics-show-wrap
  .container
    - if @cosmetic
      .cosmetic-name
        = @cosmetic.name
      .brand-name
        = @cosmetic.brand_name
      .category-name
        = @cosmetic.category_name

    - if @similar_cosmetics.present?
      .similar-cosmetics-wrap
        %ul
          - @similar_cosmetics.each do |similar_cosmetic|
            %li
              .similar-cosmetic-name
                = link_to similar_cosmetic.name, cosmetic_path(id: similar_cosmetic.cosmetic_id)
                = similar_cosmetic.value

    - if @ingredients.present?
      .ingredients-wrap
        %ul
          - @ingredients.each do |ingredient|
            %li
              = ingredient.name
