.cosmetics-show-wrap
  .container
    - if @cosmetic
      .cosmetic-name
        = @cosmetic.name
      .brand-name
        = @cosmetic.brand_name
      .category-name
        = @cosmetic.category_name

    - if @similar_cosmetics
      .similar-cosmetics-wrap
        %ul
          - @similar_cosmetics.each do |similar_cosmetic|
            %li
              .similar-cosmetic-name
                = similar_cosmetic.name
                = similar_cosmetic.value
        .show-more-similar-cosmetics-button
          もっとみる

    - if @ingredients.present?
      .ingredients-wrap
        %ul
          - @ingredients.each do |ingredient|
            %li
              = ingredient.name
