.cosmetics-show-wrap
  .container
    .cosmetic-name
      = @cosmetic.name
    .brand-name
      = @brand.name
    .category-name
      = @category.name

    - if @similar_cosmetics
      .similar-cosmetics-wrap
        %ul
          - @similar_cosmetics.each do |similar_cosmetic|
            %li
              .similar-cosmetic-name
                = similar_cosmetic[:cosmetic].name
              .similar-cosmetic-similarity
                = similar_cosmetic[:similarity].value
        .show-more-similar-cosmetics-button
          もっとみる

    - if @ingredients.present?
      .ingredients-wrap
        %ul
          - @ingredients.each do |ingredient|
            %li
              = ingredient.name
        .show-ingredients-button
          成分を表示
